.message-greting-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    width: 40%;
    height: 300px;
    border-radius: 20px;
    margin-top: 50px;
    border: 1px solid #66149c;
}

.message_title{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: #66149c;
}